$dark-black-color: #212d31;
$dark-graphite-color: #13151c;
$cloud-color: #d5d5d5;
$grocia-color: #9797ff;

$html5-color: #E16747;
$css3-color: #2062AF;
$scss-color: #CF649A;
$javascript-color: #F0DB4F;
$react-color: #61DAFB;
$redux-color: #764ABC;
$nodejs-color: #8CC84B;
$express-color: #696969;
$mongodb-color: #599636;